<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false"
         version="5.0">
    <display-name>SOA - 2</display-name>
    <description>This is soa lab 2 service #2</description>
    <default-context-path>
        /
    </default-context-path>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected context</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <error-page>
        <location>/AppExceptionHandler</location>
    </error-page>
</web-app>